[user]
  name = Greg Fisher
  email = greg@gnfisher.com
  signingkey = BAE0FAEAF7EC7990
[github]
  user = gnfisher
[core]
  excludesfile = ~/.gitignore
[alias]
  uncommit = reset --soft HEAD^
  unstage = reset
[color]
	ui = auto
[fetch]
  prune = true
[commit]
  gpgsign = true
[gpg]
  program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
    external = difft
